@use "../variables/fonts" as *;
@use "../variables/colors" as *;

#cookie-popup {
  border-radius: 8px;
  padding: 25px 30px;

  box-shadow: 0 4px 70px 0 rgba(0, 0, 0, .20), 0 6px 20px 0 rgba(0, 0, 0, .19);
  z-index: 99999;
  animation-delay: 2s;

  animation-duration: .5s;
  background: $blue-color;

  @media (max-width: 640px) {
    left: 30px !important;
    right: 30px !important;
    max-width: 100% !important;
  }

  #cookies-agree {
    position: absolute;
    top: 10px;
    right: 10px;

    img {
      width: 16px !important;
      filter: brightness(0) invert(1) contrast(1.2);
    }
  }

  p, a {
    font-size: 14px !important;
    line-height: 1.4 !important;
    margin-bottom: 0 !important;

    font-family: $font-medium !important;
    font-weight: normal !important;

    &:before,
    &:after {
      display: none !important;
    }

    a {
      //color: $orange !important;

      &:before,
      &:after {
        display: none !important;
      }
    }
  }
}