@forward "../variables/colors";
@forward "../variables/fonts";

@use "../animations/animate.scss";
@use "../animations/animations";
@use "../contact/contact";
@use "defaults";
@use "headings";
@use "mobile-menu";
@use "theme-fixes";
@use "../layouts/layouts";
@use "../legal/cookie";
@use "../legal/legal-page";
@use "../partials/content";
@use "../partials/footer";
@use "../partials/header";
@use "../partials/banner";
@use "../partials/popup";
@use "../partials/services";
@use "../partials/reviews";
@use "../partials/gallery";
@use "../partials/news";