// Headings
@use "../variables/fonts" as *;
@use "../variables/colors" as *;

#boxed-wrapper {

  h1 {
    font-family: $font-bold !important;
    line-height: 1.2 !important;
    font-size: 34px !important;

    color: $text-color !important;

    @media (max-width: 640px) {
      font-size: 30px !important;
    }

    p {
      font-family: $font-bold !important;
      line-height: 1.2 !important;
      font-size: 34px !important;

      color: $text-color !important;

      @media (max-width: 640px) {
        font-size: 30px !important;
      }
    }
  }

  h2 {
    font-family: $font-medium !important;
    line-height: 1.2 !important;
    font-size: 30px !important;

    color: $text-color !important;
    text-transform: uppercase;

    @media (max-width: 640px) {
      font-size: 26px !important;
    }

    p {
      font-family: $font-medium !important;
      line-height: 1.2 !important;
      font-size: 30px !important;

      color: $text-color !important;
      text-transform: uppercase;

      @media (max-width: 640px) {
        font-size: 26px !important;
      }
    }
  }

  h3 {
    font-family: $font-bold !important;
    line-height: 1.2 !important;
    font-size: 26px !important;

    color: $text-color !important;
    text-transform: uppercase;

    @media (max-width: 640px) {
      font-size: 24px !important;
    }

    p {
      font-family: $font-bold !important;
      line-height: 1.2 !important;
      font-size: 26px !important;

      color: $text-color !important;
      text-transform: uppercase;

      @media (max-width: 640px) {
        font-size: 24px !important;
      }
    }
  }

  h4 {
    font-family: $font-medium !important;
    line-height: 1.2 !important;
    font-size: 22px !important;

    color: $text-color !important;
    text-transform: uppercase;

    p {
      font-family: $font-medium !important;
      line-height: 1.2 !important;
      font-size: 22px !important;

      color: $text-color !important;
      text-transform: uppercase;
    }
  }

  h5 {

  }

  h6 {

  }
}
