// Theme fixes
@use "../variables/fonts" as *;
@use "../variables/colors" as *;

#main {

  .lowercase {
    text-transform: none !important;

    h1, h2, h3, h4, h5, h6, p {
      text-transform: none !important;
    }
  }

  .static-row {

    .fusion-builder-row {
      position: static !important
    }
  }

  .title-sep-container {
    display: none !important;
  }

  .fusion-title-center {
    justify-content: center !important;
  }

  .large-row {

    .fusion-builder-row {
      max-width: calc(var(--site_width) + 100px) !important;
    }
  }

  .button-flex {
    display: flex;
    gap: 10px;

    @media (max-width: 640px) {
      flex-direction: column;
      gap: 45px;
    }
  }

  .underline {
    text-decoration: underline !important;
  }
}