@use "../variables/fonts" as *;
@use "../variables/colors" as *;

#boxed-wrapper {

  .banner-row {
    min-height: 700px;
    height: 80vh;

    @media (max-width: 767px) {
      height: auto;
      min-height: 0;
      background-color: $accent-color !important;
    }

    &.default-banner {
      height: 550px;
      min-height: 0 !important;
      

      @media (max-width: 767px) {
        height: auto;

        .fusion-layout-column {

          &.banner-image-column {
            width: calc(100% + 60px);
            margin-left: -30px !important;
            margin-right: -30px !important;

            margin-top: 0 !important;

            .fusion-column-wrapper {

              &:after {
                border-radius: 0 0 90px 90px;
              }
            }

            .fusion-imageframe {
              border-radius: 0 0 90px 90px;
            }
          }

          .fusion-column-wrapper {

            .fusion-title {

              .fusion-title-heading {
                font-size: 38px !important;

                @media (max-width: 640px) {
                  font-size: 32px !important;
                }

                p {
                  font-size: 38px !important;

                  @media (max-width: 640px) {
                    font-size: 32px !important;
                  }
                }
              }
            }
          }
        }
      }
    }

    .fusion-layout-column {

      @media (max-width: 767px) {
        margin-top: 45px !important;
      }

      .fusion-column-wrapper {

        .fusion-title {

          .fusion-title-heading {
            font-size: 38px !important;
            color: $white !important;

            @media (max-width: 640px) {
              font-size: 32px !important;
            }

            p {
              color: $white !important;
              font-size: 38px !important;

              @media (max-width: 640px) {
                font-size: 32px !important;
              }
            }
          }
        }

        .arrow-down-banner {
          height: 44px;
          width: 44px;
          display: flex;

          align-items: center;
          justify-content: center;
          background-color: rgba($white, .15);

          border-radius: 50%;
          transition: all 0.5s linear;
          position: absolute;

          bottom: -90px;
          left: 50%;
          transform: translateX(-50%);

          @media (max-width: 767px) {
            display: none !important;
          }

          img {
            transform: rotate(90deg);
            height: 30px;
            object-fit: contain;
          }
        }
      }
    }

    .banner-video-column,
    .banner-image-column {

      @media (min-width: 768px) {
        position: absolute;
        left: 0;
        top: 0;

        width: 100%;
        height: 100%;
      }

      @media (max-width: 767px) {
        width: calc(100% + 60px);
        margin-left: -30px !important;
        margin-right: -30px !important;

        margin-top: 0 !important;
      }

      .fusion-column-wrapper {
        height: 100%;

        &:after {
          content: '';
          background: rgba($blue-color, .6);
          position: absolute;

          left: 0;
          top: 0;
          width: 100%;

          height: 100%;
          z-index: 10;
        }

        .fusion-video,
        .fusion-image-element {
          height: 100%;

          .video-wrapper,
          .fusion-imageframe {
            height: 100%;
            width: 100%;

            video,
            img {
              width: 100%;
              height: 100%;
              object-fit: cover;

              object-position: center center;
            }
          }
        }
      }
    }

    .banner-bottom-image-column {
      position: absolute;
      left: 0;
      bottom: 0;

      width: 100%;

      @media (max-width: 767px) {
        display: none !important;
      }

      .fusion-image-element {
        width: 100%;

        .fusion-imageframe {
          width: 100%;

          img {
            width: 100%;
          }
        }
      }
    }
  }
}