@use "../variables/fonts" as *;
@use "../variables/colors" as *;

#boxed-wrapper {

  .banner-row {
    min-height: 700px;
    height: 80vh;

    .banner-video-column {
      position: absolute;
      left: 0;
      top: 0;

      width: 100%;
      height: 100%;

      .fusion-column-wrapper {
        height: 100%;

        &:after {
          content: '';
          background: rgba($blue-color, .6);
          position: absolute;

          left: 0;
          top: 0;
          width: 100%;

          height: 100%;
          z-index: 10;
        }

        .fusion-video {
          height: 100%;

          .video-wrapper {
            height: 100%;

            video {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
        }
      }
    }

    .fusion-layout-column {

      .fusion-column-wrapper {

        .fusion-title {

          .fusion-title-heading {
            font-size: 38px !important;

            p {
              font-size: 38px !important;
            }
          }
        }

        .arrow-down-banner {
          height: 44px;
          width: 44px;
          display: flex;

          align-items: center;
          justify-content: center;
          background-color: rgba($white, .15);

          border-radius: 50%;
          transition: all 0.5s linear;
          position: absolute;

          bottom: -90px;
          left: 50%;
          transform: translateX(-50%);

          img {
            transform: rotate(90deg);
            height: 30px;
            object-fit: contain;
          }
        }
      }
    }

    .banner-bottom-image-column {
      position: absolute;
      left: 0;
      bottom: 0;

      width: 100%;

      .fusion-image-element {
        width: 100%;

        .fusion-imageframe {
          width: 100%;

          img {
            width: 100%;
          }
        }
      }
    }
  }
}