@use "../variables/fonts" as *;
@use "../variables/colors" as *;

#boxed-wrapper {

  .bigger-text {

    p {
      font-size: 24px !important;
    }

    .word {
      display: inline-block;
      will-change: transform, opacity, color;
    }
  }

  .usp-column {

    .fusion-column-wrapper {
      border-radius: 50px;
      padding: 45px;
      background: rgba($white, .1);

      @media (max-width: 640px) {
        padding: 45px 30px;
      }

      .fusion-title {

        .fusion-title-heading {
          text-transform: none !important;
          font-family: $font-bold !important;
          font-size: 22px !important;

          display: flex;
          align-items: center;
          color: $white !important;

          img {
            width: 100px;
            height: 100px;
            min-width: 100px;

            object-fit: contain;
          }
        }
      }

      .fusion-text {

        p {

          &:last-child {
            margin-bottom: 0 !important;
          }
        }
      }
    }
  }

  .contact-column {

    .fusion-column-wrapper {
      border-radius: 50px;
      padding: 45px;
      background: rgba($white, .1);

      align-items: center;

      @media (max-width: 640px) {
        padding: 45px 30px;
      }

      img {
        width: 100px;
        height: 100px;
        min-width: 100px;

        object-fit: contain;
        margin-bottom: 25px;
      }


      .bigger-text {
          color: $white !important;

        p {
          color: $white !important;
        }
      }
    }
  }
}