@use "../variables/fonts" as *;
@use "../variables/colors" as *;

#boxed-wrapper {

  .bigger-text {

    p {
      font-size: 24px !important;

      @media (max-width: 640px) {
        font-size: 22px !important;
      }
    }

    .word {
      display: inline-block;
      will-change: transform, opacity, color;
    }
  }

  .bigger-normal-text {

    p {
      font-size: 24px !important;


      @media (max-width: 640px) {
        font-size: 22px !important;
      }
    }
  }

  .usp-column {

    .fusion-column-wrapper {
      border-radius: 50px;
      padding: 45px;
      background: rgba($white, .1);

      @media (max-width: 640px) {
        padding: 45px 30px;
      }

      .fusion-title {

        .fusion-title-heading {
          text-transform: none !important;
          font-family: $font-bold !important;
          font-size: 22px !important;

          display: flex;
          align-items: center;
          color: $white !important;

          @media (max-width: 640px) {
            flex-direction: column !important;
            align-items: flex-start;
          }

          img {
            width: 100px;
            height: 100px;
            min-width: 100px;

            object-fit: contain;
          }
        }
      }

      .fusion-text {

        p {

          &:last-child {
            margin-bottom: 0 !important;
          }
        }
      }
    }
  }

  .contact-column {

    .fusion-column-wrapper {
      border-radius: 50px;
      padding: 45px;
      background: rgba($white, .1);

      align-items: center;

      @media (max-width: 640px) {
        padding: 45px 30px;
      }

      img {
        width: 100px;
        height: 100px;
        min-width: 100px;

        object-fit: contain;
        margin-bottom: 25px;
      }


      .bigger-text {
        color: $white !important;

        p {
          color: $white !important;
        }
      }
    }
  }

  .info-column {

    .fusion-column-wrapper {
      padding: 15px 45px;
      border-radius: 50px;
      //background: rgba($blue-color, .2);

      flex-direction: row !important;
      align-items: center;

      @media (max-width: 640px) {
        flex-direction: column !important;
        //align-items: flex-start;
      }

      .fusion-image-element {

        @media (min-width: 641px) {
          margin-right: 20px;
        }

        .fusion-imageframe {

          img {
            width: 60px;
            height: 60px;
            min-width: 60px;

            object-fit: contain;
          }
        }
      }

      .fusion-text {

        @media (max-width: 640px) {
          text-align: center;
        }

        p {
          margin-bottom: 0;
        }
      }
    }
  }

  .arrow-list {

    ul {
      list-style: none;
      padding: 0;
      margin: 0;

      li {
        position: relative;
        display: flex;
        align-items: center;

        padding-bottom: 10px;

        &:last-child {
          padding-bottom: 0;
        }

        &:before {
          height: 44px;
          width: 44px;
          display: flex;

          align-items: center;
          justify-content: center;
          background-color: rgba($white, .15);

          background-image: url("/wp-content/themes/Avada-Child/assets/images/icon/pijltje_wit.gif");
          background-size: 30px;
          content: '';

          background-repeat: no-repeat;
          border-radius: 50%;
          background-position: center center;

          margin-right: 15px;
          min-width: 44px;
        }

        a {
          font-size: 21px !important;

          &:hover {
            color: $accent-color !important;
          }
        }
      }
    }
  }

  .team-name-column {

    @media (min-width: 1025px) {
      position: absolute;
      bottom: 0;
      right: 0;
    }
  }

  .team-name-column-left {

    @media (min-width: 1025px) {
      position: absolute;
      bottom: 0;
      left: 0;
    }
  }
}