@use "../variables/fonts" as *;
@use "../variables/colors" as *;

#boxed-wrapper {

  .custom-footer {
    padding: 100px 15px;
    background: $text-color;

    @media (max-width: 1024px) {
      padding: 70px 15px;
    }

    .fusion-row {
      display: flex;
      flex-wrap: wrap;
      max-width: calc(var(--site_width) + 30px);

      .footer-column {

        &:first-child {

          @media (min-width: 1201px) {
            width: 45% !important;
          }
        }

        &:nth-child(2) {
          margin-top: 45px;

          @media (min-width: 1201px) {
            width: 35% !important;
            margin-top: 0;
          }
        }

        &:last-child {
          margin-top: 45px;

          @media (min-width: 1201px) {
            width: 20% !important;
            margin-top: 0;
          }
        }

        h4 {
          margin: 0 0 30px 0;
        }

        .footer-content-info {

          .info-content {
            display: flex;
            align-items: center;
            margin-bottom: 0;

            @media (max-width: 640px) {
              flex-direction: column;
              align-items: flex-start;
              margin-bottom: 15px;
            }

            img {
              width: 35px;
              height: 35px;
              min-width: 35px;

              object-fit: contain;
              margin-right: 12px;
            }

            p {
              margin-bottom: 0;
            }

            a {
              font-family: $font-bold !important;

              &:hover {
                color: $accent-color !important;
              }
            }
          }
        }

        .contact-button {
          margin-top: 25px;
        }

        .footer-column-inner {
          padding: 20px 30px;
          background: $blue-color;
          border-radius: 50px;

          strong {
            margin-bottom: 3px;
          }

          span {
            display: block;
            padding-left: 15px;
          }
        }

        &.footer-column-last {
          flex-direction: column;
          display: flex;
          align-items: center;

          @media (min-width: 768px) {
            align-items: flex-end;
          }

          .fusion-logo {
            width: 200px;
          }

          .social-links-footer {
            display: flex;
            justify-content: center;
            gap: 10px;

            margin-top: 40px;
            width: 200px;


            img {
              width: 50px;
              height: 50px;
              min-width: 50px;
            }
          }
        }
      }
    }
  }

  .footer-bottom-row {
    padding: 20px 15px;
    background: $blue-color;

    .fusion-row {
      display: flex;
      flex-wrap: wrap;
      max-width: calc(var(--site_width) + 30px);

      ul {
        list-style: none;
        margin: 0;
        padding: 0;

        @media (min-width: 993px) {
          display: flex;
        }

        @media (max-width: 992px) {
          columns: 2;
          -webkit-columns: 2;
        }

        @media (max-width: 500px) {
          columns: 1;
          -webkit-columns: 1;
        }

        li {

          &:first-child {

            &:before {
              display: none;
            }
          }

          &:last-child {

            @media (min-width: 993px) {

              position: absolute;
              right: 0;

              &:before {
                display: none;
              }
            }
          }

          &:before {
            content: "|";
            margin: 0 5px;
            font-size: 14px !important;

            color: rgba($white, .25) !important;
            display: inline-block;

            @media (max-width: 992px) {
              display: none !important;
            }
          }

          a {
            color: rgba($white, .25) !important;
            font-size: 14px !important;
          }
        }
      }
    }
  }
}