@use "../variables/fonts" as *;
@use "../variables/colors" as *;

#boxed-wrapper {

  .gda-collage {
    padding: 0 !important;
    border-radius: 0 !important;
    background: transparent !important;

    max-width: 90vw;
    margin: 0 auto;

    .gda-tile {
      margin-bottom: 0;

      img {
        height: 100%;
        width: 100%;
        object-fit: cover;

        border-radius: 50px;
      }

      &.gda-pos-1 {
        padding-left: 120px;
      }

      &.gda-pos-2 {
        padding-right: 120px;
        transform: translateY(90px);
      }

      &.gda-pos-3 {
        grid-column: 1 / span 4;
        grid-row: 6 / span 6;
      }

      &.gda-pos-4 {
        grid-column: 5 / span 4;
        grid-row: 6 / span 5;
      }

      &.gda-pos-5 {
        transform: translateY(90px);
        grid-column: 9 / span 4;
        grid-row: 6 / span 4;
      }

      &.gda-pos-6 {
        grid-column: 1 / span 4;
        grid-row: 12 / span 4;
        padding-left: 60px;
      }

      &.gda-pos-7 {
        transform: translateY(100px);
        padding-right: 120px;
      }
    }
  }
}