@use "../variables/fonts" as *;
@use "../variables/colors" as *;

.home {

  #boxed-wrapper {

    header {

      &.is-fixed {

        @media (min-width: 1200px) {

          .fusion-header {

            .fusion-row {
              align-items: center;

              .logo-column {

                img {
                  max-width: 200px;
                }
              }
            }
          }
        }
      }

      .fusion-header {

        .logo-column {

          .fusion-logo {
            width: 350px !important;

            @media (max-width: 1230px) {
              width: 200px !important;
            }
          }
        }
      }
    }
  }
}

#boxed-wrapper {

  header {
    position: absolute;
    left: 0;
    top: 0;

    width: 100%;
    padding-top: 20px;

    &.is-fixed {

      @media (min-width: 1200px) {
        position: fixed;
        top: 0;
        left: 0;

        right: 0;
        background: $blue-color;
        box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);

        .fusion-header {
          will-change: padding, height;

          .fusion-row {

            .logo-column {

              img {
                height: auto;
                transform-origin: center center;
                will-change: transform;
              }
            }
          }
        }
      }
    }

    .fusion-header {
      background: transparent !important;
      padding: 0 15px;

      .fusion-row {
        max-width: 100%;
        display: flex;

        flex-wrap: wrap;

        @media (min-width: 1601px) {
          max-width: calc(var(--site_width) + 200px);
        }

        @media (min-width: 1231px) {
          justify-content: space-between;
        }

        .menu-column {
          padding: 0 !important;

          @media (max-width: 1520px) {
            width: 40% !important;
          }

          @media (max-width: 1230px) {
            display: none !important;
          }

          &.last-menu-column {

            ul {

              @media (max-width: 1520px) {
                justify-content: flex-end;
              }
            }
          }

          .fusion-main-menu {
            overflow: visible !important;

            ul {
              list-style: none;
              padding: 0;
              margin: 0;

              display: flex;
              gap: 20px;

              @media (max-width: 1300px) {
                gap: 10px;
              }

              li {
                padding: 0 !important;

                &.current-menu-item,
                &.current-page-ancestor {

                  a {
                    color: $accent-color !important;
                  }

                  .sub-menu {

                    a {
                      color: $white !important;

                      &:hover {
                        color: $blue-color !important;
                      }
                    }
                  }
                }

                a {
                  font-family: $font !important;
                  text-transform: uppercase;
                  letter-spacing: 2px;

                  font-size: 16px !important;
                  border: 0 !important;
                  height: 36px !important;

                  &:hover {
                    color: $accent-color !important;
                  }
                }

                .sub-menu {
                  flex-direction: column;
                  border-top: 0 !important;
                  background-color: $accent-color;

                  gap: 0;
                  min-width: 250px;
                  padding: 30px 35px;

                  border-radius: 0 0 30px 30px;

                  li {
                    padding-bottom: 7px !important;

                    &:last-child {
                      padding-bottom: 0 !important;
                    }

                    &.current-menu-item {

                      a {
                        background: transparent !important;
                        font-family: $font-medium !important;
                        color: $blue-color !important;
                      }
                    }

                    a {
                      text-transform: none !important;
                      padding: 0;
                      transition: none !important;

                      letter-spacing: 0 !important;
                      height: auto !important;

                      &:hover {
                        background: transparent !important;
                        color: $blue-color !important;
                      }
                    }
                  }
                }
              }
            }
          }
        }

        .logo-column {
          text-align: center;
          display: flex;
          justify-content: center;

          @media (min-width: 1231px) and (max-width: 1520px) {
            width: 20% !important;
          }

          @media (min-width: 768px) and (max-width: 1230px) {
            width: 60% !important;
            justify-content: flex-start;
          }

          @media (max-width: 767px) {
            justify-content: flex-start;
            padding: 0 !important;
          }

          .fusion-logo {
            margin: 0 !important;
            text-align: center;
            width: 200px;

          }
        }

        .main-mobile-menu {

          @media (min-width: 1231px) {
            display: none !important;
          }

          @media (min-width: 767px) {
            width: 40% !important;
          }
        }
      }
    }
  }
}