@use "../variables/fonts" as *;
@use "../variables/colors" as *;

#boxed-wrapper {


  .latest-news {
    display: flex;
    justify-content: space-between;
    gap: 15px;

    .latest-news__item {
      display: flex;

      @media (min-width: 1025px) {
        flex: 0 0 50%;
        max-width: calc(50% - 15px);
      }
    }

    article {
      margin-bottom: 60px !important;

      .latest-news__item-inner {
        padding: 45px;
        background: #FAFFD8;
        border-radius: 50px;

        display: flex;
        gap: 20px;

        @media (max-width: 640px) {
          flex-direction: column;
          align-items: center;
        }

        .latest-news__item-thumb {

          img {
            width: 80px;
            height: 80px;
            min-width: 80px;

            border-radius: 50%;
          }
        }

        .latest-news__item-content {

          @media (max-width: 640px) {
            text-align: center;
          }


          h3 {
            color: $accent-color !important;
            margin: 0 0 20px 0 !important;
            font-size: 24px !important;

            @media (max-width: 640px) {
              text-align: center;
            }

            a {
              font-family: $font-bold !important;
              color: $accent-color !important;
            }
          }

          .latest-news__excerpt {
            color: $text-color !important;
            margin-bottom: 25px;

            @media (max-width: 640px) {
              text-align: center;
            }
          }

          .fusion-button {
            font-size: 14px !important;
            padding-left: 20px !important;

            .button-icon {
              height: 25px;
              width: 25px;
              margin-left: 15px;

              img {
                width: 18px;
              }
            }
          }
        }
      }
    }
  }
}