@use "../variables/fonts" as *;
@use "../variables/colors" as *;

#boxed-wrapper {

  .reviews-swiper {
    width: 100%;
    overflow: visible;

    .swiper-wrapper {
      background: $text-color;
      border-radius: 45px;
      height: auto;

      .review-slide {
        display: flex;
        gap: 45px;
        padding: 45px;

        @media (max-width: 1024px) {
          flex-direction: column;
          align-items: center;
        }

        @media (max-width: 640px) {
          padding: 45px 30px;
        }

        .reviews-thumb {

          img {
            width: 90px;
            height: 90px;
            object-fit: cover;

            min-width: 90px;
            border-radius: 50%;
          }
        }

        .reviews-body {

          @media (max-width: 1024px) {
            text-align: center;
          }
        }
      }
    }
  }

  .custom-navigation {

    @media (max-width: 1520px) {
      display: flex;
      justify-content: center;
      gap: 15px;

      margin-top: 60px;
    }

    span {
      height: 44px;
      width: 44px;
      display: flex;

      align-items: center;
      justify-content: center;
      border-radius: 50%;

      cursor: pointer;
      background-color: rgba($white, .15);

      @media (max-width: 1520px) {
        position: relative !important;
        left: auto !important;
        right: auto !important;

        top: auto !important;
        bottom: auto !important;
      }

      img {
        width: 20px;
        object-fit: contain;
      }

      &:after {
        display: none !important;
      }

      &.swiper-button-prev {
        left: -90px;

        img {
          transform: scaleX(-1);
        }
      }

      &.swiper-button-next {
        right: -90px;
      }
    }
  }
}