@use "../variables/fonts" as *;
@use "../variables/colors" as *;

#boxed-wrapper {

  .service-column {
    margin-bottom: 60px !important;

    @media (max-width: 1200px) {
      width: 50% !important;
    }

    @media (max-width: 767px) {
      width: 100% !important;
    }

    &.mobile-margin-top {
      @media (max-width: 1200px) {
        margin-top: 0 !important;
      }
    }

    &.sm-margin-top {
      @media (max-width: 767px) {
        margin-top: 0 !important;
      }
    }

    .fusion-column-wrapper {
      @media (min-width: 1201px) {
        padding-left: 15px;
        padding-right: 15px;
      }

      .fusion-button {
        position: absolute;
        right: 0;
        bottom: 30px;
      }
    }
  }

  .service-row {

    .fusion-column-wrapper {
      position: relative;

      .fusion-title {

        h4 {
          font-size: 26px !important;
        }
      }

      .service-content-column {

      }

      .full-height-service-image {

        .fusion-column-wrapper {
          height: 100%;

          .fusion-image-element {
            height: 100%;

            .fusion-imageframe {
              height: 100%;
              width: 100%;

              img {
                height: 100%;
                width: 100%;
                object-fit: cover;
              }
            }
          }
        }
      }

      .service-half-image {
        height: 300px;
        width: 100%;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }
}
