@use "../variables/fonts" as *;
@use "../variables/colors" as *;

#boxed-wrapper {

  .fusion-accordian {

    .panel-group {

      .fusion-panel {
        padding: 15px 45px;
        border-radius: 50px;
        background: rgba($blue-color, .2);

        border: 0;
        margin-bottom: 15px;

        .panel-heading {

          h4 {

            a {
              font-family: $font !important;
              font-size: 19px !important;
              text-transform: none !important;

              display: flex;
              align-items: center;

              .fusion-toggle-icon-wrapper {
                display: none !important;
              }

              &:before {
                content: '';
                background: url("/wp-content/themes/Avada-Child/assets/images/icon/check.gif") no-repeat;
                background-size: contain;

                width: 60px;
                height: 60px;
                min-width: 40px;

                display: inline-flex;
              }
            }
          }
        }

        .panel-body {
          padding: 0 30px 0 80px;
          font-size: 16px !important;

          p {
            font-size: 16px !important;
          }
        }
      }
    }
  }
}