@use "../variables/fonts" as *;
@use "../variables/colors" as *;

#boxed-wrapper {

  .fusion-accordian {

    &.no-toggle {
      pointer-events: none !important;

      a {
        padding: 0 !important;
      }

      .panel-body {
        display: none !important;
      }
    }

    .panel-group {

      .fusion-panel {
        padding: 15px 45px;
        border-radius: 50px;
        background: rgba($blue-color, .2);

        border: 0;
        margin-bottom: 15px;

        .panel-heading {

          h4 {

            a {
              font-family: $font !important;
              font-size: 19px !important;
              text-transform: none !important;

              display: flex;
              align-items: center;

              .fusion-toggle-icon-wrapper {
                display: none !important;
              }

              &:before {
                content: '';
                background: url("/wp-content/themes/Avada-Child/assets/images/icon/check.gif") no-repeat;
                background-size: contain;

                width: 60px;
                height: 60px;
                min-width: 40px;

                display: inline-flex;
              }
            }
          }
        }

        .panel-body {
          padding: 0 30px 0 80px;
          font-size: 16px !important;

          p {
            font-size: 16px !important;
          }
        }
      }
    }
  }

  .gda-toggles {

    .gda-toggle {
      padding: 30px 45px;
      border-radius: 50px;
      background: rgba($text-color, .25);

      margin-bottom: 15px;

      @media (max-width: 767px) {
        padding: 30px;
      }

      .gda-toggle__header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        cursor: pointer;

        .gda-toggle__title {
          font-family: $font-bold !important;
          color: $white !important;
        }

        .gda-toggle__chev {

          img {
            width: 30px;
            object-fit: contain;
          }
        }
      }

      .gda-toggle__panel {

        .gda-toggle__inner {
          display: flex;
          justify-content: space-between;
          padding: 45px 0;

          @media (max-width: 1024px) {
            flex-direction: column;
            gap: 45px;
          }

          .gda-toggle__body {

            @media (min-width: 1025px) {
              width: 35%;
            }

            p {

              &:last-child {
                margin-bottom: 0;
              }
            }
          }

          .gda-toggle__list {
            list-style: none;
            margin: 0;
            padding: 0;

            display: flex;
            flex-direction: column;
            justify-content: space-between;

            @media (min-width: 1025px) {
              width: 65%;
              padding: 0 0 0 45px;
            }

            li {
              display: flex;
              gap: 7px;

              img {
                width: 20px;
                height: 20px;
                object-fit: contain;

                min-width: 20px;
              }
            }
          }
        }
      }
    }
  }
}