/*
Theme Name: Avada Child
Description: Child theme for Avada theme
Author: ThemeFusion
Author URI: https://theme-fusion.com
Template: Avada
Version: 1.0.0
Text Domain:  Avada
*/

// Gebruik alleen global.scss zodat alle variabelen en mixins beschikbaar zijn
@use "defaults/global" as *;
