@use "../variables/fonts" as *;
@use "../variables/colors" as *;

#boxed-wrapper {

  .border-top-radius-mobile {

    @media (max-width: 640px) {

      --awb-border-radius-top-left: 90px !important;
      --awb-border-radius-top-right: 90px !important;
    }
  }

  .border-bottom-radius-mobile {
    @media (max-width: 640px) {

      --awb-border-radius-bottom-left: 90px !important;
      --awb-border-radius-bottom-right: 90px !important;
    }
  }

  .moving-image {

    @media (min-width: 641px) and (max-width: 1024px) {
      margin: 0 auto !important;
    }
  }

  .flex-reverse {

    .fusion-builder-row {

      @media (max-width: 1024px) {
        flex-direction: column-reverse !important;
      }
    }
  }

  .full-width-absolute-image-column {
    position: absolute;
    left: 0;
    top: 0;

    width: 100%;
    height: 100%;

    &.blue-after {

      .fusion-column-wrapper {

        .fusion-image-element {

          .fusion-imageframe {
            border-radius: 0 !important;

            &:after {
              background: rgba($blue-color, .9);
            }
          }
        }
      }
    }

    &.no-after {

      .fusion-column-wrapper {

        .fusion-image-element {

          .fusion-imageframe {

            &:after {
              display: none !important;
            }
          }
        }
      }
    }

    .fusion-column-wrapper {
      margin: 0 !important;

      .fusion-image-element {
        height: 100%;

        .fusion-imageframe {
          width: 100%;
          height: 100%;
          border-radius: 180px 180px 0 0;

          @media (max-width: 640px) {
            border-radius: 90px 90px 0 0;
          }

          &:after {
            content: '';
            background: rgba($green-after, .85);
            position: absolute;

            top: 0;
            left: 0;
            width: 100%;

            z-index: 10;
            height: 100%;
          }

          img {
            width: 100%;
            height: 150%;
            object-fit: cover;

            margin-top: -50px;

            border-radius: 180px 180px 0 0;

            @media (max-width: 640px) {
              border-radius: 90px 90px 0 0;
              height: 110%;
            }
          }
        }
      }
    }
  }

  .center-30 {

    img {
      object-position: center 30% !important;
    }
  }

  .center-bottom {

    img {
      object-position: center bottom !important;
    }
  }

  .full-height-image-column {
    position: relative;

    @media (min-width: 1360px) {
      height: 100%;
    }

    &.full-height-absolute {
      //position: absolute;
      //right: 0;
    }

    .fusion-column-wrapper {

      @media (min-width: 1360px) {
        height: 100%;
      }

      .fusion-image-element {

        @media (min-width: 1360px) {
          height: 100%;
        }

        .fusion-imageframe {
          height: 100%;
          width: 100%;

          img {
            height: 100%;
            width: 100%;
            object-fit: cover;
          }
        }
      }
    }
  }

  .fusion-image-carousel {
    margin-bottom: 0 !important;

    &.full-width-swiper {
      height: 700px;

      .awb-carousel {
        height: 100%;
        overflow: hidden;

        .swiper-wrapper {
          height: 100% !important;

          .swiper-slide {
            height: 100%;

            .fusion-carousel-item-wrapper {
                height: 100%;

              .fusion-image-wrapper {
                height: 100%;

                img {
                  border-radius: 180px 180px 0 0;
                  height: 120%;
                  width: 100%;

                  object-fit: cover;

                  @media (max-width: 640px) {
                    border-radius: 90px 90px 0 0;
                  }
                }
              }
            }
          }
        }

        .awb-swiper-button {

          &.awb-swiper-button-next {
            right: 90px !important;
          }

          &.awb-swiper-button-prev {
            left: 90px !important;
          }
        }
      }
    }
  }

  .awb-carousel {
    overflow: visible;

    .swiper-slide {
      opacity: 0;
      transition: opacity 0.4s ease;

      &.is-visible {
        opacity: 1;
      }

      .fusion-image-wrapper {
        width: 100%;

        img {
          height: 300px;
          width: 100%;
          object-fit: cover;

          border-radius: 50px;
        }
      }
    }

    .awb-swiper-button {
      height: 44px;
      width: 44px;
      display: flex;

      align-items: center;
      justify-content: center;
      border-radius: 50%;

      cursor: pointer;
      background-color: $accent-color;
      background-image: url('/wp-content/themes/Avada-Child/assets/images/icon/pijltje_wit.gif');

      background-repeat: no-repeat;
      background-position: center;
      background-size: 30px;

      @media (max-width: 1520px) {
        position: relative !important;
        top: auto !important;
        bottom: auto !important;

        left: auto !important;
        right: auto !important;
      }

      &.awb-swiper-button-next {
        transform: rotate(0) translateY(-50%);
        right: -90px;

        @media (max-width: 1520px) {
          //transform: translateY(0);
          //left: calc(50% + 30px);
        }
      }

      &.awb-swiper-button-prev {
        transform: rotate(180deg) translateY(50%);
        left: -90px;

        @media (max-width: 1520px) {
          //transform: rotate(180deg) translateY(-44px);
          //left: calc(50% - 30px);
        }
      }

      i {
        display: none !important;
      }
    }
  }
}